td,th {
  width: 80;
  height:20;
}
table,th,td {
  border: 1px solid #bbb;
}

#conmenu{
  width:180px;
  background-color:#f0f0f0;
  border:1px solid #999999;
  display:none;
  position:fixed;
}
 
#conmenu.on{
  display:block;
}
 
#conmenu ul{
  list-style:none;
  margin:0px;
  padding:5px;
  font-size:13px;
}

/* マウスオーバー時の挙動
 * ref: https://ja.stackoverflow.com/questions/15012/liマウスオーバー時に背景色を変えたい */
#conmenu li{
  transition: background-color 0s;  /* fade out */
}
#conmenu  li:hover {
  background-color: #ADD8E6;
  transition: background-color 0ms; /* fade in */
}

/* アイコンの設定
 * ref: http://www.webword.jp/cssguide/ref-list/index5.html */
#conmenu li.combineToRight{
  padding-left:20px;
  background-image:url("./img/combineToRight.png");
  background-repeat:no-repeat;
  background-position:0px 2px;
  background-size:18px;
}
#conmenu li.combineToUnder{
  padding-left:20px;
  background-image:url("./img/combineToUnder.png");
  background-repeat:no-repeat;
  background-position:0px 2px;
  background-size:16px;
}
#conmenu li.uncombine{
  padding-left:20px;
  background-image:url("./img/uncombine.png");
  background-repeat:no-repeat;
  background-position:0px 3px;
  background-size:18px;
}

#area{
  width:400px;
  height:200px;
  background-color:#ddddff;
}
